/* Shared styling for all pages */
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    height: 100vh;
    width: 100vw;
}

.full-height-container { /* For the login page container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    gap: 10px;
}

.separator {
    width: 1px;
    height: 24px;
    background-color: #ccc;
}

.icon-hostname::before {
    margin-right: 8px;
}

.icon-user::before {
    margin-right: 8px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#disconnect-btn {
    padding: 8px 20px;
    background-color: #ff3b30;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#disconnect-btn:hover {
    background-color: #ff5e57;
}

#status {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.status-dot {
    width: 10px;
    height: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 8px;
}

/* Login page specific styles */
.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.app-logo {
    width: 120px;
    height: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #f5f5f7;
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #005bb5;
}

/* Styling for the error message */
.error {
    background-color: #ffebee; /* Light red background for error */
    color: #d32f2f; /* Deep red color for text */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    border: 1px solid #d32f2f; /* Border color matching the text */
    font-weight: 500; /* Slightly bold to emphasize the error */
}

/* Dashboard page specific styles */
.dashboard-container {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.card i {
    font-size: 50px;
    color: #0070c9;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    color: #666;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistics-button-container {
    margin-top: 40px;
}

.statistics-btn {
    padding: 12px 30px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.statistics-btn:hover {
    background-color: #005bb5;
}

/*Backup zone*/
.backup-container {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.back-arrow {
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    margin-bottom: 24px;
    display: block;
}

.backup-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.backup-form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.backup-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.backup-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.backup-input:disabled {
    cursor: not-allowed;
}

.backup-availability-info {

}

.backup-availability-btn {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #0070c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.backup-availability-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.success-backup-availability {
    color: #5a5a5a;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #28a745;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.error-backup-availability {
    color: #5a5a5a;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #dc3545;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.success-backup-availability i, .error-backup-availability i {
    margin-right: 16px;
}

.success-backup-availability i {
    color: #28a745;
}

.error-backup-availability i {
    color: #dc3545;
}

.backup-info-text {
    color: #5a5a5a;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #007aff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.backup-info-text i {
    margin-right: 16px;
    color: #007aff;
    font-size: 16px;
}

.success-backup-message {
    color: #5a5a5a;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #28a745;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.error-backup-message {
    color: #5a5a5a;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #dc3545;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.success-backup-message i, .error-backup-message i {
    margin-right: 8px;
}

.success-backup-message i {
    color: #28a745;
}

.error-backup-message i {
    color: #dc3545;
}

.next-step-btn {
    margin-top: 20px;
    background-color: #0070c9;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
}

.next-step-btn:hover {
    background-color: #005bb5;
}

/*  End of Backup Zone CSS  */

/* Generate Keys CSS*/
.generate-keys-container {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.generate-keys-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* End of Generate Keys CSS*/

/* Sign Zone */
.sign-zone-container {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.sign-zone-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* End Sign Zone */

/* Apply Changes */
.apply-changes-container {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.apply-changes-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* End of Apply Changes */

/* View Statistics */
.statistics-container {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.statistics-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

/* View Statistics */