{% extends "base_with_navbar.html" %}

{% block title %}Apply Changes - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="apply-changes-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h1 class="apply-changes-header">Apply Changes</h1>
        <form class="apply-changes-form" id="apply-changes-form">
            <label class="apply-changes-label" for="domain-name">Domain Name</label>
            <input class="apply-changes-input" type="text" id="domain-name" name="domain-name" value="example.test.com"
                   placeholder="Enter your domain name" required>

            <button class="apply-changes-btn" type="button" id="apply-changes-btn">
                Apply Changes
            </button>
        </form>
        <div class="apply-changes-loader" id="apply-changes-loader" hidden="hidden">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
        <div class="apply-changes-dsset-output-section" id="apply-changes-dsset-output-section" hidden="hidden">

            <div id="apply-changes-command-output" class="apply-changes-terminal-output">
                <!-- Output from the rndc command will be displayed here -->
            </div>
            <div class="apply-changes-output-title">
                This is your DSSET, please be kind enough to send this to your parent zone's Zone Administrator
            </div>
            <div id="apply-changes-command-output-dsset" class="apply-changes-terminal-output">
                <!-- Output from the rndc command will be displayed here-->
            </div>
        </div>

        <p id="apply-changes-info" class="apply-changes-info" hidden="hidden"></p>
        <button class="next-step-btn" id="next-view-statistics-btn">
            Next: View Statistics &rarr;
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/apply_changes.js') }}"></script>
    <script>
        const applyChangesRequestUrl = "{{ url_for('apply_changes_request') }}";
        const viewStatisticsUrl = "{{ url_for('statistics') }}"
    </script>
{% endblock %}