{% extends "base_with_navbar.html" %}

{% block title %}Backup DNS Zone - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="backup-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h2 class="backup-header">Backup Zone File</h2>

        <form class="backup-form" id="backup-availability-form">
            <label class="backup-label" for="zone-path">Path to Zone File</label>
            <input class="backup-input" type="text" id="zone-path" name="zone-path" value="/etc/bind/zones"
                   placeholder="/etc/bind/zones" required>

            <label class="backup-label" for="file-name">File Name</label>
            <input class="backup-input" type="text" id="file-name" name="file-name" placeholder="db.domain.zone"
                   required>

            <button class="backup-availability-btn" type="button" id="check-availability-btn">Check
                Availability
            </button>
        </form>

        <p id="backup-availability-info" class="backup-availability-info"></p>

        <form class="backup-form" id="backup-form">
            <p id="backup-info" class="backup-info-text">
                <i class="fa fa-info-circle"></i> Your file will be backed up to:
                /etc/bind/backup/[filename].backup
            </p>

            <button class="backup-availability-btn" type="button" id="confirm-backup-btn" disabled>Confirm Backup
            </button>
        </form>

        <p id="backup-message" class="backup-message"></p>

        <button class="backup-next-step-btn">
            Next: Generate Keys &rarr;
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/backup.js') }}"></script>
    <script>
        const checkZoneFileAvailabilityUrl = "{{ url_for('check_zone_file_availability') }}";
        const confirmBackupZoneFileUrl = "{{ url_for('confirm_backup_zone_file') }}";
    </script>
{% endblock %}