{% extends "base_with_navbar.html" %}

{% block title %}Generate Key Pairs - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="generate-keys-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h2 class="generate-keys-header">Generate Key Pairs</h2>
        <form class="generate-keys-form" id="generate-keys-form">
            <h2 class="generate-keys-sub-header">ZSK Configuration</h2>
            <label class="generate-keys-label" for="zsk-algorithm">Algorithm</label>
            <select class="generate-keys-input" id="zsk-algorithm" name="zsk-algorithm" required>
                <option value="RSASHA256" data-key-sizes="[1024, 2048, 3072, 4096]">RSASHA256</option>
                <option value="ED25519" data-key-sizes="[256]">ED25519</option>
            </select>
            <label class="generate-keys-label" for="zsk-key-size">ZSK Key Size</label>
            <select class="generate-keys-input" id="zsk-key-size" name="zsk-key-size">
                <!-- Key sizes will be dynamically populated -->
            </select>

            <label class="generate-keys-label" for="zsk-domain-name">Domain Name</label>
            <input class="generate-keys-input" type="text" id="zsk-domain-name" name="domain-name"
                   placeholder="Enter your domain name" required>

            <button class="generate-keys-btn" type="button" id="generate-zsk-btn">
                Generate ZSK Keys
            </button>

            <p id="zsk-key-info" class="zsk-key-info" hidden="hidden"></p>
        </form>

        <div class="loader" id="zsk-key-loader" hidden="hidden">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>

        <form class="generate-keys-form" id="generate-keys-form">
            <h2 class="generate-keys-sub-header">KSK Configuration</h2>
            <label class="generate-keys-label" for="ksk-algorithm">Algorithm</label>
            <select class="generate-keys-input" id="ksk-algorithm" name="ksk-algorithm">
                <option value="RSASHA256" data-key-sizes="[1024, 2048, 3072, 4096]">RSASHA256</option>
                <option value="ED25519" data-key-sizes="[256]">ED25519</option>
            </select>
            <label class="generate-keys-label" for="ksk-key-size">KSK Key Size</label>
            <select class="generate-keys-input" id="ksk-key-size" name="ksk-key-size" required>
                <!-- Key sizes will be dynamically populated -->
            </select>

            <label class="generate-keys-label" for="ksk-domain-name">Domain Name</label>
            <input class="generate-keys-input" type="text" id="ksk-domain-name" name="domain-name"
                   placeholder="Enter your domain name" required>


            <button class="generate-keys-btn" type="button" id="generate-ksk-btn">
                Generate KSK Keys
            </button>

            <p id="ksk-key-info" class="ksk-key-info" hidden="hidden"></p>
        </form>

        <div class="loader" id="ksk-key-loader" hidden="hidden">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>

        <button class="next-step-btn" id="next-sign-zone-btn">
            Next: Sign DNS Zone &rarr;
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/generate_keys.js') }}"></script>
    <script>
        const generateZskUrl = "{{ url_for('generate_zsk_key') }}"
        const generateKskUrl = "{{ url_for('generate_ksk_key') }}"
        const signZoneUrl = "{{ url_for('sign_zone') }}"
    </script>
{% endblock %}