{% extends "base_with_navbar.html" %}

{% block title %}Sign DNS Zone - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="sign-zone-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h1 class="sign-zone-header">Sign DNS Zone</h1>
        <form class="sign-zone-form" id="sign-zone-form">
            <label class="sign-zone-label" for="sign-zone-origin">Origin</label>
            <input class="sign-zone-input" type="text" id="sign-zone-origin" name="sign-zone-origin"
                   placeholder="Enter your domain name" required>
            <label class="sign-zone-label" for="sign-zone-keys-directory">Keys Directory</label>
            <input class="sign-zone-input" type="text" id="sign-zone-keys-directory" name="sign-zone-keys-directory"
                   placeholder="/etc/bind/keys" required>
            <label class="sign-zone-label" for="sign-zone-file-path">Zone File</label>
            <input class="sign-zone-input" type="text" id="sign-zone-file-path" name="sign-zone-file-path"
                   placeholder="/etc/bind/zones/[filename]" required>

            <button class="sign-zone-btn" type="button" id="sign-zone-btn">
                Sign
            </button>

            <div class="apply-changes-loader" id="apply-changes-loader" hidden="hidden">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>

            <p id="sign-zone-info" class="sign-zone-info" hidden="hidden"></p>
            <p id="sing-zone-info-content" class="sign-zone-info-content"></p>
            
        </form>
        <div class="loader" id="sign-zone-loader" hidden="hidden">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
        <button class="next-step-btn" id="next-apply-changes-btn">
            Next: Apply Changes &rarr;
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/sign_zone.js') }}"></script>
    <script>
        const signZoneFile = "{{ url_for('sign_zone_request') }}";
        const applyChangesUrl = "{{ url_for('apply_changes') }}"
    </script>
{% endblock %}