{% extends "base_with_navbar.html" %}

{% block title %}Statistics - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="statistics-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h1 class="statistics-header">Statistics</h1>

        <form class="statistics-form" id="statistics-form">
            <label class="statistics-label" for="statistics-hostname">Hostname</label>
            <input class="statistics-input" type="text" id="statistics-hostname" name="statistics-hostname"
                   placeholder="Enter your hostname" value={{ hostname }} required>

            <label class="statistics-label" for="statistics-domain">Domain</label>
            <input class="statistics-input" type="text" id="statistics-domain" name="statistics-domain"
                   placeholder="Enter your domain name" required>

            <label class="statistics-label" for="statistics-command">Command</label>
            <select class="statistics-input" id="statistics-command" name="statistics-command" required>
                <option value="dnskey">DNSKEY</option>
                <option value="soa">SOA</option>
                <option value="rrsig">RRSIG</option>
                <option value="a">A</option>
                <option value="aaaa">AAAA</option>
                <option value="mx">MX</option>
                <option value="ns">NS</option>
                <option value="ptr">PTR</option>
                <option value="txt">TXT</option>
            </select>

            <button class="get-statistics-btn" type="button" id="get-statistics-btn">
                Get Statistics
            </button>

            <div class="statistics-loader" id="statistics-loader" hidden="hidden">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>

            <p id="statistics-info" class="statistics-info" hidden="hidden"></p>
            <p id="statistics-info-content" class="statistics-info-content"></p>
            <p id="statistics-info-content-dates" class="statistics-info-content-dates"></p>

        </form>


        <button class="next-step-btn" id="prev-backup-zone-file-btn">
            &#8592; Prev: Backup Zone File
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
    <script>
        const backupZoneFileUrl = "{{ url_for('backup_zone') }}"
        const getStatisticsUrl = "{{ url_for('get_statistics') }}"
    </script>
{% endblock %}