{% extends "base_with_navbar.html" %}

{% block title %}Statistics - DNSSEC Guardian{% endblock %}

{% block content %}
    <div class="statistics-container">
        <a href="{{ url_for('dashboard') }}" class="back-arrow">
            &#8592; Dashboard
        </a>
        <h1 class="statistics-header">Statistics</h1>
        <button class="next-step-btn" id="prev-backup-zone-file-btn">
            &#8592; Prev: Backup Zone File
        </button>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
    <script>
        const backupZoneFileUrl = "{{ url_for('backup_zone') }}"
    </script>
{% endblock %}